 #warn{
            display:none;
            position: absolute;
            width: 254px;
            height: 63px;
            left: calc(50% - 254px/2);
            top: 416px;
        }
        #svgwarn{
            display:none;
            position: absolute;
            width: 30px;
            height: 30px;
            left: 16px;
            top: 416px;
        }
        body{
            position: relative;
            width: 358px;
            height: 700px;
            background: #000000;
        }
        .logo{
            /* Group 28 */

        position: absolute;
        width: 322px;
        height: 187px;
        left: calc(50% - 322px/2);
        top: 194px;
      }
        #passwordinput{

        /* Rectangle 54 */

        position: absolute;
        width: 326px;
        height: 54px;
        left: calc(50% - 326px/2);
        top: 289px;

        background: #19191A;
        border-radius: 16px;
        color: white;
        outline: none;
        border: none;
        }
        #password{

        /* Nickname */

        position: absolute;
        width: 252px;
        height: 32px;
        left: calc(50% - 252px/2 - 37px);
        top: 239px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;

        color: #FFFFFF;


        }
        .webtonn{
            /* Group */

            position: absolute;
            width: 80px;
            height: 51px;
            left: 0px;
            top: 4px;


        }
        .webtonnw{
        /* Group */

            position: absolute;
            width: 59px;
            height: 54px;
            left: 50px;
            top: 4px;


        }
